<!DOCTYPE html>
<html>
  <title>
    Codeforces Hack Counter
  </title>
  <meta charset = "UTF-8">
  <meta name = "viewport" content = "width=device-width, initial-scale=1">
  <link rel = "stylesheet" href = "https://www.w3schools.com/w3css/4/w3.css">
  <link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Roboto">
  <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="../static/logo.png">
  <style>
  html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif
  }

  #loader {
    z-index: 1;
    width: 150px;
    height: 150px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  </style>
  <body class = "w3-light-grey">
    <header  class = "w3-container w3-teal w3-center w3-margin-top">
      <h1>
        <img  src = "../static/logo.png" height="42" width="50" alt = "Logo">&nbsp;Codeforces Hack Counter
      </h1>
      <a class="github-button" href="https://github.com/knayan111/Codeforces_Hack_Counter" data-icon="octicon" aria-label="Repo on Github">
        Repo
      </a>
    </header>
    <!-- Page Container -->
    <div class = "w3-content w3-margin-top" style = "max-width: 1400px;">
      <!-- The Grid -->
      <div class = "w3-row-padding">
        <!-- Left Column -->
        <div class = "w3-third">
          <div class = "w3-white w3-text-grey w3-card-4">
            <div id = "logo" class = "w3-display-container w3-center">
              <img  src = "../static/avatar.jpg" style = "width:100%" alt = "Avatar">
            </div>
            <div class = "w3-container">
              <h1 class = "w3-center w3-text-teal">
              </h1>
              <p id = "handle">
                Handle: 
              </p>
              <p id = "name">
                Name: 
              </p>
              <p id = "city">
                City: 
              </p>
              <p id = "country">
                Country: 
              </p>
              <p id = "organization">
                Organozation: 
              </p>
              <p id = "rating">
                Rating: 
              </p>
              <p id = "maxRating">
                Maximum Rating: 
              </p>
              <p id = "rank">
                Rank: 
              </p>
              <p id = "maxRank">
                Maximum Rank: 
              </p>
              <p id = "friendOfCount">
                Friend of: 
              </p>
              <p id = "contribution">
                Contribution: 
              </p>
            </div>
          </div>
          <br>
        <!-- End Left Column -->
        </div>
        <!-- Right Column -->
        <div class = "w3-twothird">
          <div class = "w3-container w3-card w3-white w3-margin-bottom">
            <br>
            Codeforces Handle:&nbsp; <input id = "username" type = "text" name = "fname"> &nbsp;&nbsp;
            <button id = "button1" onclick = "buttonclick()">
              Find
            </button>
            <br>
            <br>
          </div>
          <div class = "w3-container w3-card w3-white w3-margin-bottom">
            <div id = "loader" class = "w3-container" style = "display: none;">
            </div>
            <div id = "count" class = "w3-container">
              <p id = "hackedn">
                Total no. of times hacked:
              </p>
              <p id = "hackedus">
                Total no. of unsuccessful hacking attempts:
              </p>
              <p id = "hackedsc">
                Total no. of successful hacking attempts:
              </p>
              <p id = "hackedtc">
                Total no. hacking attempts:
              </p>
            </div>
          </div>
        <!-- End Right Column -->
        </div>
      <!-- End Grid -->
      </div>
      <!-- End Page Container -->
    </div>
    <footer class = "w3-container w3-teal w3-center w3-margin-top">
      <p>
        Developed by Kamal Nayan
      </p>
      <a href = "https://www.linkedin.com/in/knayan" target = "_blank">
        <i class = "fa fa-linkedin w3-xxlarge w3-hover-opacity">
        </i>
      </a>
      &nbsp;&nbsp;
      <a href = "https://github.com/knayan111" target = "_blank">
        <i class = "fa fa-github w3-xxlarge w3-hover-opacity">
        </i>
      </a>
    </footer>
    <script async defer src="https://buttons.github.io/buttons.js">
    </script>
    <script>
      document.getElementById("username").addEventListener("keypress", function(event) {
        if (event.keyCode == 13) {
          buttonclick();
        }
      });
      function buttonclick(){
        var u = document.getElementById("username").value
        var req2 = new XMLHttpRequest();
        document.getElementById("count").style.display = "none";
        document.getElementById("loader").style.display = "block";
        req2.open("GET", "http://127.0.0.1:5000/test_api?user=" + u, true);
        req2.send();
        req2.onload = function () {
          document.getElementById("count").style.display = "block";
          document.getElementById("loader").style.display = "none";
          var data1 = JSON.parse(req2.responseText);
          document.getElementById("hackedn").innerHTML = "Total no. of times hacked: " + data1.n;
          document.getElementById("hackedsc").innerHTML = "Total no. of successful hacking attempts: " + data1.sc;
          document.getElementById("hackedus").innerHTML = "Total no. of unsuccessful hacking attempts: " + data1.us;
          var tc = data1.sc + data1.us;
          document.getElementById("hackedtc").innerHTML = "Total no. hacking attempts: " + tc;
        }
        var request = new XMLHttpRequest();
        request.open("GET", "https://codeforces.com/api/user.info?handles=" + u, true);
        request.send();
        request.onload = function () {
          var data = JSON.parse(request.responseText);
          document.getElementById("logo").innerHTML = "<img  src = https:" + data.result[0].titlePhoto + " style = 'width:100%' alt = 'Avatar'>";
          document.getElementById("handle").innerHTML = "Handle: " + data.result[0].handle;
          document.getElementById("name").innerHTML = "Name: " + data.result[0].firstName + ' ' + data.result[0].lastName;
          document.getElementById("city").innerHTML = "City: " + data.result[0].city;
          document.getElementById("country").innerHTML = "Country: " + data.result[0].country;
          document.getElementById("organization").innerHTML = "Organization: " + data.result[0].organization;
          document.getElementById("rating").innerHTML = "Rating: " + data.result[0].rating;
          document.getElementById("maxRating").innerHTML = "Maximum Rating: " + data.result[0].maxRating;
          document.getElementById("rank").innerHTML = "Rank: " + data.result[0].rank;
          document.getElementById("maxRank").innerHTML = "Maximum Rank: " + data.result[0].maxRank;
          document.getElementById("friendOfCount").innerHTML = "Friend of: " + data.result[0].friendOfCount + " users";
          document.getElementById("contribution").innerHTML = "Contribution: " + data.result[0].contribution;
        }
      }
    </script>
  </body>
</html>
